ruff==0.3.7
mypy==1.9.0
black==24.4.0
pytest==8.1.1
pre-commit==3.7.0
bytewax==0.20.0
httpx==0.27.0
pydantic==2.8.2
stamina==24.3.0
structlog==24.2.0
boto3==1.34.0
sqlalchemy==2.0.31
pytest-httpx==0.30.0
psycopg2-binary==2.9.9
redis==5.0.8
types-PyYAML==6.0.12.20240724
types-redis==4.6.0.20240726
PyYAML==6.0.1
botocore==1.34.147
datadog-api-client==2.26.0
rated-parser==1.0.1
freezegun==1.5.1
sentry-sdk~=2.14.0
testcontainers==4.8.2
rated_exporter_sdk==0.1.1
requests>=2.31.0,<2.32.0
responses==0.25.3
docker>=6.1.0
types-requests==2.31.0.5
types-docker==7.0.0.20240413
pydantic_core~=2.20.1
python-dotenv~=1.0.1
prometheus_client~=0.20.0
