ruff==0.3.7
mypy==1.9.0
black==24.4.0
pytest==8.1.1
pre-commit==3.7.0
bytewax==0.20.0
httpx==0.27.0
pydantic==2.8.2
stamina==24.2.0
structlog==24.2.0
boto3==1.34.0
sqlalchemy==2.0.31
pytest-httpx==0.30.0
psycopg2-binary==2.9.9
redis==5.0.8
types-PyYAML==6.0.12.20240724
types-redis==4.6.0.20240726
PyYAML==6.0.1
botocore==1.34.147
datadog-api-client==2.26.0
rated-parser==0.0.6
